@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0B0F17;
}

::-webkit-scrollbar-thumb {
  background: #2A364F;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3B82F6;
}
